<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="30" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LibroAi"
        tools:targetApi="31">
        <activity
            android:name=".LibrarianOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".StudentOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".BookRentActivity"
            android:exported="false" />
        <activity
            android:name=".BookBuyActivity"
            android:exported="false" />
        <activity
            android:name=".FollowingListActivity"
            android:exported="false" />
        <activity
            android:name=".FollowersListActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".FollowRequestActivity"
            android:exported="false" />
        <activity
            android:name=".SetupProfileActivity"
            android:exported="false" />
        <activity
            android:name=".UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".LibraryDetailsFormActivity"
            android:exported="false" />
        <activity
            android:name=".MapActivity"
            android:exported="false" />
        <activity
            android:name=".AiRecommendationActivity"
            android:exported="false" />
        <activity
            android:name=".ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.LibroAi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Dashboard Activity (you mentioned it's named MainActivity2) -->
        <activity
            android:name=".MainActivity2"
            android:exported="false" /> <!-- Bottom Navigation Activities -->
        <activity
            android:name=".FollowActivity"
            android:exported="false" />
        <activity
            android:name=".DiscussionsForumsActivity"
            android:exported="false" />
        <activity
            android:name=".LibraryListActivity"
            android:exported="false" /> <!-- Navigation Drawer Activities -->
        <activity
            android:name=".AvailableBooksActivity"
            android:exported="false" />
        <activity
            android:name=".IssuedBooksActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".BookmarksActivity"
            android:exported="false" />
        <activity
            android:name=".FeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".book_list"
            android:exported="false" />
        <activity
            android:name=".liberay_book"
            android:exported="false" />
        <activity
            android:name=".liberary_item"
            android:exported="false" />
        <activity
            android:name=".liberarian"
            android:exported="false" />
        <activity
            android:name=".liberary_list"
            android:exported="false" />
        <activity
            android:name=".Librarian_Dasboard"
            android:exported="false" />
        <activity
            android:name=".LibAcceptRequestsActivity"
            android:exported="false" />
        <activity
            android:name=".StdRequestStatusActivity"
            android:exported="false" />
        <activity
            android:name=".StdFollowActivity"
            android:exported="false" />
        <activity
            android:name=".JoinRequestsActivity"
            android:exported="false" />
        <activity
            android:name=".libprofile"
            android:exported="false" />
        <activity
            android:name=".LibUsersActivity"
            android:exported="false" />
        <activity
            android:name=".manage_books"
            android:exported="false" />
        <activity
            android:name=".StdBookDetailActivity"
            android:exported="false" />
        <activity
            android:name=".libIssuedBookRequestsActivity"
            android:exported="false" />
        <activity
            android:name=".StdJoinGroupActivity"
            android:exported="false" />
        <activity
            android:name=".StdCreateGroupActivity"
            android:exported="false" />
        <activity
            android:name=".StdGroupViewActivity"
            android:exported="false" />
        <activity
            android:name=".StdGroupChatActivity"
            android:exported="false" />
        <activity
            android:name=".StAskDoubtActivity"
            android:exported="false" />
        <activity
            android:name=".StdDoubtsActivity"
            android:exported="false" />
        <activity
            android:name=".StdCommunityPostDetailActivity"
            android:exported="false" />
        <activity
            android:name=".LibStudentRecordsActivity"
            android:exported="false" />
        <activity
            android:name=".LibStudentDetailActivity"
            android:exported="false" />
    </application>

</manifest>